[defaults]
roles_path = galaxy
host_key_checking = False
inventory = ../ansible_inventory/dev
forks = 8
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 86400
fact_caching_connection = /tmp/ansible_fact_cache

[connection]
pipelining = true

[ssh_connection]
ssh_args = -4 -o PreferredAuthentications=publickey -o ControlMaster=auto -o ControlPersist=10m -o ControlPath=~/.ssh/sockets/%r@%h:%p -o ConnectTimeout=60s
